
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="newRental">
    @* Zencoding: div.form-group>label+input[type="text"].form-control*@
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" type="text" required value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" type="text" value="" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        @* div.row>div.col_md-4.col-sm-4*@
        <div class="row">
            <div class="col_md-4 col-sm-4">
                <ul id="movies" class="list-group"></ul>
            </div>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/custom/newRentalView.js")    
}
